.hello{
    margin:auto;
    margin-top:200px;
    background: #fff;
    padding-bottom:20px;
    width:500px;
    border:20px solid lightslategray;
   
}
.bg{

    background-image: url("https://i.pinimg.com/564x/af/64/98/af64980be99ebcf04cb341d2ea016438.jpg");
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.input{
    display:flex;
    align-items: center;
    margin: auto;
    height:60px;
    width:350px;
   
    border-radius: 100px;


}
.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mail{
   
    margin-left:70px;
    display:flex;
}
.pass
{
    margin-left:70px;
    display:flex;
}
.name{
    margin-left:70px;
    display:flex;
}
.for
{
    color:palevioletred;
}